body {
    background-color: {{body_background_color}};
    color: {{text_color}};
    font-family: Arial;
}

#headline {
    color: {{headline_color}};
}

#footer {
    margin-top: 50px;
    text-align: right;
    padding-right: 1em;
    font-size: 0.8em;
}
